:root {
    --bg-color: #4f518c;
    --calc-color: #e4d9ff;
    --ans-area-color: #c8b6ff;
    --calc-text-color: #495069;
    --gray: #212121;
    --box-shadow: rgba(0,0,0,0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0.5rem;
    background-color: var(--bg-color);
    color: wheat;
    touch-action: manipulation;
}

.calculator {
    background-color: var(--calc-color);
    margin: 4rem auto;
    padding: 1rem;
    height: auto;
    width: 25rem;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 4px var(--box-shadow);
}

#answer {
    background-color: var(--ans-area-color);
    color: var(--calc-text-color);
    padding: 1rem 0.5rem;
    border-width: 5px;
    border-color: #000;
    position: relative;
    height: 4rem;
    width: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    box-shadow: 0 4px var(--box-shadow);
    overflow: hidden;
}

    input {
        outline: 0;
        position: relative;
        border: 0;
        color: var(--calc-text-color);
        width: calc((25rem/4) - 1rem);
        height: 4rem;
        float: left;
        font-size: 20px;
        box-shadow: 0 4px var(--box-shadow);
    }

    #inputNum {
        width: 100%;
        text-align: right;
        background-color: var(--ans-area-color);
        color: var(--calc-text-color);
    }


    #displayOp {
        height: 3rem;
        width: 3em;
        margin-left: 1rem;
        line-height: 3rem;
        background-color: var(--calc-color);
        /* border: solid;
        border-color: var(--box-shadow);
        border-width: 0.1rem; */
        border-radius: 1rem;
        box-shadow: 0 4px var(--box-shadow);
        user-select: none
    }

#calc-buttons {
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

    input[type=button] {
        border-color: var(--bg-color);
        border-radius: 0.5rem;
        background-color: #e9e9ed;
        border: solid;
        border-color: #d0d0d6;
        border-width: 0.2rem;
        
    }
    input[type=button]:hover {
        background-color: #d0d0d6;
    }

    #clear {
        width: calc((25rem/4)*3 - 2rem);
    }

    #zero {
        width: calc((25rem/2) - 1.5rem);
    }

@media (max-width: 800px){
    body{
        /* background-color: blue; */
        height: 100vh;
    }
    .calculator{
        margin: 4rem auto;
        width: 90%;
        height: auto;
    }
    #calc-buttons {
        gap: 0.5rem;
    }
    input{
        width: calc(25% - 0.5rem);
    }
    #clear {
        width: calc(75% - 0.5rem)
    }

    #zero {
        width: calc(50% - 0.5rem)
    }
}

@media (max-height: 500px){
    body{
        /* background-color: green; */
        height: 100vh;
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .calculator {
        margin: 0.5rem auto;
        height: calc(95vh - 1rem);
        width: auto;
        flex-direction: row;
    }
    input{
        width: 10%;
        height: 10%;
    }
    #answer {
        width: 100%;
        height: 90;
    }
    #inputNum{
        height: 100%;
    }
    #calc-buttons {
        width: 100%;
        height: 75%;
        gap: 0.5rem;
    }
    input[type=button] {
        height: 2rem;
        width: 23%;
    }
}